name: Stock Tracker

on:
  schedule:
    - cron: "30 * * * *"
  workflow_dispatch:

jobs:
  run-tracker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run Stock Tracker
        env:
          MAIL_USER: ${{ secrets.MAIL_USER }}
          MAIL_PASS: ${{ secrets.MAIL_PASS }}
          MAIL_TO:   ${{ secrets.MAIL_TO }}
          PRODUCTS_JSON: ${{ secrets.PRODUCTS_JSON }}
          STOCK_STATE: ${{ secrets.STOCK_STATE }}
          DISPLAY: :99
        run: |
          python main.py


      
      
        
